.modal_block {
    display: none;
}

.modal_block.active {
    display: block;
}

.product-card .product_catalog .modal__content .payment-tabs button {
    color: #e91e63;
    border-bottom: 1px solid var(--Light-Grey, #e8e8e8);
}

.product-card .product_catalog .modal__content .payment-tabs button.active {
    flex: 1;
    padding: 15px;
    border: none;
    background: none;
    font-size: 6px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    border-bottom: 1px solid #000;
}


/* ==================================== Оформление start */

.bonus-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.bonus-modal-overlay.bonus-active {
    display: flex;
}

.bonus-modal-container {
    background: white;
    width: 100%;
    max-width: 460px;
    max-height: fit-content;
    overflow-y: auto;
    position: relative;
    padding: 16px;
    box-sizing: border-box;
}

.bonus-modal-header {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Typography-Typography-Primary, #4A4A4A);
    /* Desktop/H2 */
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 20.8px */
    text-transform: uppercase;
}

.bonus-modal-close {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    font-size: 32px;
    color: #333;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.bonus-modal-card {
    width: 330px;
    height: 190px;
    margin: 0 auto;
    background: linear-gradient(135deg, #a8b566 0%, #8fa553 100%);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 24px;
    background-image: url('../images/checkout_bonus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bonus-modal-card-label {
    color: var(--White, #FFF);
    /* Desktop/P1 */
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 18.2px */
    text-transform: uppercase;
    margin-bottom: 8px;
}

.bonus-modal-card-points {
    color: var(--White, #FFF);

    /* Desktop/H0 */
    font-family: "Helvetica Neue";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 36.4px */
    text-transform: uppercase;
    margin-bottom: 65px;
}

.bonus-modal-card-name {
    color: #FFF;

    font-family: "Helvetica Neue";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 31.2px */
    text-transform: uppercase;

}

.bonus-modal-input-wrapper {
    margin-bottom: 8px;
    position: relative;
}

.bonus-modal-input {
    width: 100%;
    padding: 9px 12px;
    font-size: 14px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s;
    background: #FAFAFA;
}

.bonus-modal-input:focus {
    border-color: #8fa553;
}

.bonus-modal-input.bonus-valid {
    border-color: #8fa553;
    background-color: #f0f7e6;
}

.bonus-modal-input.bonus-error {
    border-color: #e74c3c;
    background-color: #fef5f5;
}

.bonus-modal-input-icons {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
}

.bonus-modal-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .bonus-modal-icon-clear {
            font-size: 16px;
        }

        .bonus-modal-icon-check {
            font-size: 16px;
        } */

.bonus-modal-error-text {
    color: rgba(222, 3, 3, 0.70);
    font-size: 12px;
    margin-bottom: 8px;
    margin-bottom: 8px;
}

.bonus-modal-link {
    color: var(--Black, #272727);
    /* Desktop/P3 */
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 25%;
    /* 3px */
    text-underline-position: from-font;
}

.bonus-modal-button {
    width: 100%;
    height: 42px;

    padding: 16px;
    background: #E8E8E8;
    border: none;
    border-radius: 100px;
    cursor: not-allowed;
    transition: all 0.3s;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--50-black, #858585);
    /* Desktop/H2 */
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 20.8px */
    text-transform: uppercase;
}

.bonus-modal-button.bonus-enabled {
    background: #E8E8E8;
    cursor: pointer;
}

.bonus-modal-button.bonus-enabled:hover {
    background: #91BE17;
    color: #F0F0F0;
}

@media (max-width: 768px) {
    .bonus-modal-container {
        padding: 16px;
        margin: 26px;
    }

    .bonus-modal-header {
        font-size: 16px;
    }

    .bonus-modal-card {
        width: 100%;
        padding: 16px;
    }

    .bonus-modal-card-points {
        margin-bottom: 65px;
    }

    .bonus-modal-card-name {
        font-size: 24px;
    }
}


/*  =============================================== yana bir pravka tuzatildi */

.gift-card-dropdown-wrapper {
    position: relative;
    width: 100%;
}

.gift-card-dropdown-selected {
    width: 417px;
    /* height: 45px; */
    background: #FFF;
    border: 1px solid #E8E8E8;
    padding: 9px 12px;
    cursor: pointer;
    color: #858585;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
    .gift-card-dropdown-selected {
        width: 100%;
    }
}

.gift-card-dropdown-selected::after {
    content: '';
    background-image: url(../edits/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.gift-card-dropdown-selected.gift-card-dropdown-open::after {
    transform: rotate(0);
}

.gift-card-dropdown-menu {
    width: 417px;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

.gift-card-dropdown-menu.gift-card-dropdown-show {
    display: block;
}

.gift-card-dropdown-item {
    padding: 16px;
    cursor: pointer;
    transition: background 0.2s ease;
    border-bottom: 1px solid #E8E8E8;
    box-shadow: 0 3px 10px 0 rgba(61, 68, 82, 0.08);
    background: #FFF;

}

.gift-card-dropdown-item:last-child {
    border-bottom: none;
}

.gift-card-dropdown-item:hover {
    background: #E8E8E8;
    box-shadow: 0 3px 10px 0 rgba(61, 68, 82, 0.08);
    background: var(--Input-Grey, #F0F0F0);
}

.gift-card-dropdown-item.gift-card-dropdown-item-active {
    border: 1px solid #E8E8E8;
    background: var(--Input-Grey, #F0F0F0);

    /* sh */
    box-shadow: 0 3px 10px 0 rgba(61, 68, 82, 0.08);
}

.gift-card-dropdown-item .gift-card-number {
    color: var(--Grey, #555);

    /* Desktop/P1 */
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 18.2px */
    text-transform: uppercase;
    margin-bottom: 8px;
}

.gift-card-dropdown-item .gift-card-info {
    display: flex;
    gap: 16px;
    color: var(--Grey, #555);

    /* Desktop/P3 */
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
}

.gift-card-amount-wrapper {
    position: relative;
    width: 100%;
}

.gift-card-amount-input {
    width: 100%;
    padding: 9px 12px;
    transition: border-color 0.3s ease;
    color: var(--50-black, #858585);
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 8px;
    position: relative;
    border: 1px dashed #91BE17 !important;
}

.checkout_about .form-input {
    height: auto !important;
}

.gift-card-apply-btn {
    position: absolute;
    right: 12px;
    top: 15%;
    background: transparent;
    border: none;
    color: var(--Grey, #555);
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 15.6px */
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
    border-bottom: 1px solid var(--Grey, #555);
}



.gift-card-static-info {
    display: flex;
    justify-content: space-between;
    color: var(--Black, #272727);
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
    margin-top: 4px;
}

.gift-card-available,
.gift-card-expiry {
    display: flex;
    gap: 4px;
}

.gift-card-available span,
.gift-card-expiry span {
    color: var(--Black, #272727);
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
}